<!DOCTYPE HTML>
<HTML>
    <head>
        <meta charset="utf-8">

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-app-bar color="orange">
                        <v-container>
                            <v-app-bar-title>
                                成績自動集計システム
                            </v-app-bar-title>
                        </v-container>
                    </v-app-bar>
                    <v-container>
                        <v-row><v-col>
                        <v-textarea
                          outlined
                          auto-grow
                          clearable
                          v-model="target_text"
                          placeholder="貼り付けて"></v-textarea></v-col></v-row>
                        <v-row>
                            <v-col>
                                <v-btn elevation="3" @click="analyze">解析！</v-btn>
                            </v-col>
                        </v-row>
                        <v-row><v-col v-for="i in items" :key="i">
                            <v-card solo>{{i}}</v-card>
                        </v-col></v-row>
                    </v-container>
                </v-main>
            </v-app>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="main.js"></script>
    </body>
</HTML>
